<div class="container">
  <div class="panel panel-default" id="user_forms">
   <div class="panel-heading">
    <h2>Sign up</h2>
   </div>  
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="form-group"><%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: "form-control" %>
      </div>
    
     <div class="form-group"><%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %></div>
    
      <div class="form-group"><%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control" %></div>
    
      <div class="form-group"><%= f.submit "Sign up", class: "btn btn-primary" %></div>
    <% end %>
    
    </div>
    <div class="panel-footer">
      <%= render "devise/shared/links" %>
    </div>  
  </div>
</div>