<div class="container">
   <div class="panel panel-default" id="user_forms">
   <div class="panel-heading">
    <h2>Change your password</h2>
   </div>
   <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>
  
    <div class="form-group"><%= f.label :password, "New password" %><br />
    <%= f.password_field :password, :autofocus => true, class: "form-control" %></div>
  
    <div class="form-group"><%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, class: "form-control" %></div>
  
    <div class="form-group"><%= f.submit "Change my password", class: "btn btn-primary" %></div>
  <% end %>
  </div>
  <div class="panel-footer">
  <%= render "devise/shared/links" %>
  </div>
</div>