
<div class="jumbotron">
    <div class="container">
        <div class="row">
	        <h1>Is it Mom Worthy?</h1>
	        <h2>Search now to read what real moms think about thousands of products!</h2>
	      </div>
	      <div class="row">
	       <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
         </div><!-- /input-group -->
	    </div>
	  </div>
  </div>
