
<div class="container">
  <div class="panel panel-default" id="reviews">
    <div class="panel-heading">
    <p id="notice"><%= notice %></p>
    
    <h1>Listing Reviews</h1>
    </div>
     <div class="panel-body">
      <table class="table">
      <thead>
        <tr>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @reviews.each do |review| %>
          <tr>
            <td><%= review.description %></td>
            <td><%= link_to 'Show', review %></td>
            <td><%= link_to 'Edit', edit_review_path(review) %></td>
            <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>
    
    <%= link_to 'New Review', new_review_path %>
    </div>
  </div>
</div>