 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Mom Worthy", root_path, :class =>"navbar-brand" %>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav  navbar-right">
          <% if user_signed_in? %>
          <li><%= link_to "Account Settings", edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
           <li><%= link_to "Sign in", new_user_session_path %></li>
           <li><%= link_to "Join Now", new_registration_path(resource_name), :class =>"btn btn-primary" %></li>
           <li></li>
        <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>